---
import ExperienceItem from "../Items/ExperienceItem.astro"
const EXPERIENCE = [
  {
    date: "Diciembre 2025 - Presente",
    title: "Java Fullstack Software Engineer",
    company: "Tata Consultancy Services ",
    description:["Desarrollo y mantenimiento de servicios backend en Java para aplicaciones bancarias.","Migracion de JavaSpringBoot 3.4 a 4.0.","Uso de Datadog para monitoreo y logging de aplicaciones.","Implementacion de pruebas unitarias y de integracion con JUnit y Mockito."]
  },
  {
    date: "Diciembre 2024 - Presente",
    title: "Freelance Fullstack & Embedded Developer",
    company: "AdagIO",
    description:["Servicios de aplicaciones Web.","Creacion de Dispositivos Electronicos embebidos con linux.","Mantenimiento de bases de datos hechas en Java, NodeJs, Rust & Go.","Creacion de Temas para Ecommerce en Shopify.","Creacion de Sitios Web utilizando Wordpress, Astro & NextJs."],
  },
  {
    date: "Junio 2024",
    title: "Software Engineer",
    company: "Continental R&D Guadalajara",
    description: ["Encargado de implementacion & Correccion de pruebas unitarias & mejoras en coverturas de codigo para modulos de TBC.","Encargado de Realizar release de software para Variantes de TBC y BMC para modulos de Stellantis.","Integrador de Base de Datos y Modelo para modulo BCM y DMM"],
  },
  {
    date: "Abril 2022",
    title: "Software Engineer Trainee",
    company: "Continental R&D Guadalajara",
    description: ["Implementacion de Software Validation Test & Unit Test para modulos de TBC de Stellantis.","Creacion de Proyecto para Control de Ventanas y Puertas."]
  }
]
---

<ol class="relative mt-16 w-[100%] sm:w-[70%] flex items-center justify-center flex-col">
  {
    EXPERIENCE.map((experience) => (
      <li class="flex">
        <ExperienceItem {...experience} />
      </li>
    ))
  }
</ol>