---
import ProyectItem from "../Items/ProyectItem.astro"
const Proyectos = [
  {
    Name: "AVR Make Action",
    Type: "Vscode Extension",
    Tools: ["Typescript", "C"],
    Description:"Responsable de la plataforma, componentes y utilidades para la creación y desarrollo de aplicaciones web. Mejo",
    GitLink: "",
    PrevLink:"wefwe"
  },
  {
    Name: "AVR Register Configurator",
    Type: "Vscode Extension",
    Tools: ["Typescript", "C"],
    Description:"Responsable de la plataforma, componentes y utilidades para la creación y desarrollo de aplicaciones web. Mejo",
    GitLink: "",
    PrevLink:"fwefwef"
  },
  {
    Name: "STM32 OTA Server",
    Type: "Embedded-Backend",
    Tools: ["Typescript","AWS", "Cpp"],
    Description:"Responsable de la plataforma, componentes y utilidades para la creación y desarrollo de aplicaciones web. Mejo",
    GitLink: ""

  },
  {
    Name: "CrossFit - Student Register Server & Application",
    Type: "Embedded Linux",
    Tools: ["Qt", "Cpp","MySQL"],
    Description:"dpfvñdf,vñldf,vñdlf,vñdf,lv",
    GitLink: ""

  },
  {
    Name: "Dance Academy Platform",
    Type: "FullStack",
    Tools: ["NextJs","MySQL","TailWind"],
    Description:"Responsable de la plataforma, componentes y utilidades para la creación y desarrollo de aplicaciones web. Mejo",
    GitLink: ""

  },
  {
    Name: "LVGL 3D Printer Display",
    Type: "Embedded",
    Tools: ["C"],
    Description:"Responsable de la plataforma, componentes y utilidades para la creación y desarrollo de aplicaciones web. Mejo",
    GitLink: ""
  },
  {
    Name: "Online C Editor & Compiler",
    Type: "Backend",
    Tools: ["TailWind","Node", "C"],
    Description:"Responsable de la plataforma, componentes y utilidades para la creación y desarrollo de aplicaciones web. Mejo",
    GitLink: ""
  }
]
---

<ol class="relative mt-16 sm:w-[75%] max-sm:w-[70%] grid grid-cols-3 gap-12">
  {
    Proyectos.map((experience) => (
      <li class="box">
        <ProyectItem {...experience} />
      </li>
    ))
  }
</ol>

<style>
  .box {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 12px;
  border: 2px solid #0000;
  border-radius: 12px;
  background: linear-gradient(#050d15, #050d15) padding-box, linear-gradient(
        var(--angle),
        #070707,
        #51E4B8
      ) border-box;
  animation: 5s rotate linear infinite;
}

@keyframes rotate {
  to {
    --angle: 360deg;
  }
}

@property --angle {
  syntax: "<angle>";
  initial-value: 0deg;
  inherits: false;
}

</style>