---
import DonationLayout from "../layouts/DonationLayout.astro";
---

<DonationLayout title="Apóyame">
    <div class="flex flex-col items-center justify-center w-full min-h-screen px-4 text-center">
        <h1 class="text-5xl font-extrabold text-white">Ayúdame a seguir creando</h1>
        <p class="mt-4 text-lg text-gray-300 max-w-lg">
            Tu apoyo me permite desarrollar nuevas herramientas y proyectos innovadores.
        </p>
        <a
            href="https://patreon.com/user?u=39053859&utm_medium=unknown&utm_source=join_link&utm_campaign=creatorshare_creator&utm_content=copyLink"
            class="mt-6 px-6 py-3 bg-blue-600 text-white text-lg font-semibold rounded-lg shadow-lg transition-transform transform hover:scale-105 hover:bg-blue-700"
            target="_blank"
            rel="noopener noreferrer"
        >
            Apoyar ahora
        </a>
    </div>
</DonationLayout>
