---
export const prerender = false;
import Logo from "../components/Global/Logo.astro";
import NavItem from "../components/NavItem.astro";
import Layout from "../layouts/Layout.astro";
import Experience from "../components/Containers/Experience.astro";
import Proyects from "../components/Containers/Proyects.astro";
import TabsComponent from "../components/Items/Skill";

const subdomain = Astro.locals.subdomain?.toLowerCase() || '';
---

<Layout title="Jesus Velez Soto">
	{subdomain === '' && (
		<>
			<nav id="navbar" class="flex gap-7 flex-row justify-center mt-12 mb-16 z-100">
				<NavItem title="Experience" href="#Experiencia" />
				<NavItem title="Projects" href="#Projects"/>
				<NavItem title="Blog" href="https://blog.jesusvelez.xyz" />
			</nav>

			<Logo />

			<div class="flex items-center w-full justify-center mb-10">
				<span class="relative inline-flex overflow-hidden rounded-full p-[1px]">
					<span class="absolute inset-[-1000%] animate-[spin_2s_linear_infinite] bg-[conic-gradient(from_90deg_at_50%_50%,#51E4B8_0%,#21554E_50%,#51E4B8_100%)]" />
					<a
						href="https://www.linkedin.com/in/jesus-velez-soto-28ab11156/"
						class="inline-flex items-center justify-center w-full px-3 py-1 text-lg text-green-800 bg-green-100 rounded-full cursor-pointer dark:bg-gray-800 dark:text-white/80 backdrop-blur-3xl whitespace-nowrap"
					>
						Open to Work
					</a>
				</span>
			</div>

			<section class="flex items-center w-full justify-center mb-[100px]">
				<p class="text-3xl max-sm:text-base text-white mt-10 text-wrap w-[90%] md:w-[40%] text-center">
					3 años de experiencia como<br>
					<span class="text-[#51E4B8]">
						{" "}
						Ingeniero de Software.
						<br>
						Freelancee
					</span>
					<br>
					 🇲🇽 Especializado en Aplicaciones Web
					y Dispositivos Embebidos con Linux.
				</p>
			</section>

			<div
				class="w-full flex items-center justify-center flex-col mt-[100px]"
				id="Experiencia"
			>
				<h1 class="text-5xl font-semibold text-white my-5">
					Experiencia
				</h1>
				<Experience />
			</div>

			<div
				class="w-full flex items-center justify-center flex-col mt-[200px]"
				id="Skills"
			>
				<h1 class="text-5xl font-semibold text-white my-5">
					Skills
				</h1>
				<TabsComponent client:idle />
			</div>

			<div
				class="w-full flex items-center justify-center flex-col mt-[200px]"
				id="Projects"
			>
				<h1 class="text-5xl font-semibold text-white my-5">
					Proyectos
				</h1>
				<Proyects />
			</div>
		</>
	)}
</Layout>

<script>
window.addEventListener("scroll", () => {
  const nav = document.getElementById("navbar");

  if (nav) {
    if (window.scrollY > 90) {
      nav.classList.add(
        "border",
        "rounded-full",
        "border-white",
        "mt-10",
        "sticky",
        "top-10",
        "py-2",
        "px-10",
		"backdrop-blur-sm",
        "w-auto"
      );
    } else {
      nav.classList.remove(
        "border",
		"backdrop-blur-sm",
        "rounded-full",
        "border-white",
        "sticky",
        "top-10",
        "py-2",
        "px-10",
        "w-auto"
      );
    }
  }
});
</script>