---
const { href, title, class: className } = Astro.props;
---

<a class:list={["flex h-auto text-white hover:text-[#51E4B8] cursor-pointer font-light", className || "text-sm sm:text-base"]} href={href} >
	{title}
</a>
