---
const { href, title, body } = Astro.props;
---

<a class="flex h-[10] h-auto text-white hover:text-amber-200 text-lg cursor-pointer" href={href}>
	{title}
</a>

<style>
	a:hover{
		color: #51E4B8;
	}
</style>