---

---

<section class="w-full h-full">
  <div class="logo">
    <div class="Nom">
      <h1 class="glitch" data-text="V">V</h1>
      <h1 class="glitch" data-text="e">e</h1>
      <h1 class="glitch" data-text="l">l</h1>
      <h1 class="glitch" data-text="e">e</h1>
      <h1 class="glitch" data-text="z">z</h1>
    </div>
    <div class="Nom">
      <h1 class="glitch" data-text="J">J</h1>
      <h1 class="glitch" data-text="e">e</h1>
      <h1 class="glitch" data-text="s">s</h1>
      <h1 class="glitch" data-text="u">u</h1>
      <h1 class="glitch" data-text="s">s</h1>
    </div>
  </div>
</section>

<style>
  section {
    display: flex;
    align-items: center;
    justify-content: end;
    flex-direction: column;
    height: 45vh;
  }

  h1 {
    font-family: "Allan", cursive;
    margin: 0;
    padding: 0;
  }

  .logo {
    margin: 0;
    padding: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
  }
  .Nom {
    gap: 8px;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: row;
  }

  .Nom:nth-child(1) h1:nth-child(1) {
  }
  .Nom:nth-child(1) h1:nth-child(2) {
    margin-top: -15px;
    margin-left: -5px;
  }
  .Nom:nth-child(1) h1:nth-child(3) {
    margin-top: -25px;
    margin-left: -5px;
  }
  .Nom:nth-child(1) h1:nth-child(4) {
    margin-top: -35px;
    margin-left: -5px;
  }
  .Nom:nth-child(1) h1:nth-child(5) {
    margin-top: -45px;
    margin-left: -5px;
  }

  .Nom:nth-child(2) h1:nth-child(1) {
    margin-top: -18px;
    margin-left: -5px;
  }
  .Nom:nth-child(2) h1:nth-child(2) {
    margin-top: -25px;
    margin-left: -5px;
  }
  .Nom:nth-child(2) h1:nth-child(3) {
    margin-top: -35px;
    margin-left: 0px;
  }
  .Nom:nth-child(2) h1:nth-child(4) {
    margin-top: -45px;
    margin-left: -5px;
  }
  .Nom:nth-child(2) h1:nth-child(5) {
    margin-top: -55px;
    margin-left: -5px;
  }

  .glitch::after,
  .glitch::before {
    content: attr(data-text);
    display: block;
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
  }
  .glitch::after {
    text-shadow: -2px 2px #cc0f39;
    left: -2px;
    animation: anim1 1s infinite linear alternate-reverse;
  }
  .glitch::before {
    text-shadow: 2px -2px #0ffbf9;
    left: 2px;
    animation: anim2 1s infinite linear alternate-reverse;
  }



  /* Tamaño base */
.glitch {
  font-family: "Allan", cursive;
  color: #fff;
  position: relative;
  margin: 0;
  font-size: clamp(100px, 12vw, 150px); /* min, preferido, max */
}

/* Márgenes generales */
.Nom:nth-child(1) {
  margin-left: 60px;
}
.Nom:nth-child(2) {
  margin-top: -55px;
}

/* Dispositivos pequeños */
@media (max-width: 640px) {
  .glitch {
    font-size: 90px;
  }
  .Nom:nth-child(1) {
    margin-left: 40px;
  }
  .Nom:nth-child(2) {
    margin-top: -40px;
  }
}

/* Tablets */
@media (min-width: 641px) and (max-width: 991px) {
  .glitch {
    font-size: 110px;
  }
  .Nom:nth-child(1) {
    margin-left: 75px;
  }
  .Nom:nth-child(2) {
    margin-top: -60px;
  }
}

/* Escritorio */
@media (min-width: 992px) {
  .glitch {
    font-size: 150px;
  }
  .Nom:nth-child(1) {
    margin-left: 100px;
  }
  .Nom:nth-child(2) {
    margin-top: -85px;
  }
}


  @keyframes anim1 {
    0%,
    9% {
      clip-path: inset(14% 0% 23% 0%);
    }
    10%,
    19% {
      clip-path: inset(11% 0% 2% 0%);
    }
    20%,
    29% {
      clip-path: inset(43% 0% 53% 0%);
    }
    30%,
    39% {
      clip-path: inset(21% 0% 33% 0%);
    }
    40%,
    49% {
      clip-path: inset(24% 0% 3% 0%);
    }
    50%,
    59% {
      clip-path: inset(12% 0% 13% 0%);
    }
    60%,
    69% {
      clip-path: inset(13% 0% 11% 0%);
    }
    70%,
    79% {
      clip-path: inset(44% 0% 23% 0%);
    }
    80%,
    89% {
      clip-path: inset(14% 0% 93% 0%);
    }
    90%,
    99% {
      clip-path: inset(22% 0% 13% 0%);
    }
    100% {
      clip-path: inset(33% 0% 23% 0%);
    }
  }

  @keyframes anim2 {
    0%,
    9% {
      clip-path: inset(23% 0% 25% 0%);
    }
    10%,
    19% {
      clip-path: inset(21% 0% 53% 0%);
    }
    20%,
    29% {
      clip-path: inset(55% 0% 53% 0%);
    }
    30%,
    39% {
      clip-path: inset(62% 0% 21% 0%);
    }
    40%,
    49% {
      clip-path: inset(31% 0% 32% 0%);
    }
    50%,
    59% {
      clip-path: inset(32% 0% 73% 0%);
    }
    60%,
    69% {
      clip-path: inset(64% 0% 22% 0%);
    }
    70%,
    79% {
      clip-path: inset(31% 0% 6% 0%);
    }
    80%,
    89% {
      clip-path: inset(64% 0% 52% 0%);
    }
    90%,
    99% {
      clip-path: inset(48% 0% 41% 0%);
    }
    100% {
      clip-path: inset(92% 0% 1% 0%);
    }
  }
</style>
